<div class="login">
    <div class="container">

        <auth-form
                user="$ctrl.user"
                error-message="{{ $ctrl.errorMessage }}"
                sign-button="{{ $ctrl.text.signin }}"
                reset-button="{{ $ctrl.text.reset }}"
                on-submit="$ctrl.loginUser($event)">
        </auth-form>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center title-hxf">
                    A quiz made with <span class="title-hxf-bold">AngularJS 1.5+</span> and <span class="title-hxf-bold">Firebase</span>
                </div>
            </div>
        </div>

    </div>
</div>

