@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli/Muli-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli/Muli-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

//@font-face {
//    font-family: 'Bebas';
//    src: url('../assets/fonts/Bebas/ttf/BebasNeueThin.ttf');
//    font-weight: 100;
//}
//
//@font-face {
//    font-family: 'Bebas';
//    src: url('../assets/fonts/Bebas/ttf/BebasNeueLight.ttf');
//    font-weight: 200;
//}
//
//@font-face {
//    font-family: 'Bebas';
//    src: url('../assets/fonts/Bebas/ttf/BebasNeueBook.ttf');
//    font-weight: 300;
//}

@font-face {
    font-family: 'Bebas';
    src: url('../assets/fonts/Bebas/ttf/BebasNeueRegular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Bebas';
    src: url('../assets/fonts/Bebas/ttf/BebasNeueBold.ttf');
    font-weight: 500;
}
