.ribbon {
  .counter-hxf {
    font-size: 120px;
    color: #FF002D;
    font-family: Bebas;
    font-size: 120px;
    font-weight: 400;
    text-shadow: 0px 0px 10px #FF002D;
    background: rgba(255, 255, 255, 0.4);
    //-webkit-border-radius: 30px;
    //-moz-border-radius: 30px;
    //border-radius: 30px;
  }
}