<div class="questions">
    <div class="container-fluid">
        <div class="row buttons-prev-next-hxf">
            <div class="col-xs-offset-3 col-xs-3">
                <button class="btn btn-primary btn-lg btn-block" ng-disabled="isPrevDisabled" ng-click="prev()">PREVIOUS</button>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-primary btn-lg btn-block" ng-disabled="isNextDisabled" ng-click="next()">NEXT</button>
            </div>
        </div>
    </div>
</div>