<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading panel-hxf-heading">
                <span class="glyphicon glyphicon-lock"></span> Login
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="$ctrl.submitForm()">
                    <div class="form-group">
                        <label for="userfield" class="col-sm-3 control-label">
                            Email
                        </label>
                        <div class="col-sm-9">
                            <input type="text"
                                   class="form-control"
                                   id="userfield"
                                   placeholder="Username"
                                   ng-focus="onFocus($event)" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passfield"
                               class="col-sm-3 control-label">
                            Password
                        </label>
                        <div class="col-sm-9">
                            <input type="password"
                                   class="form-control"
                                   id="passfield"
                                   placeholder="Password"
                                   ng-focus="onFocus($event)" required>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-success btn-sm">
                                {{ $ctrl.signButton }}
                            </button>
                            <button type="reset" class="btn btn-default btn-sm">
                                {{ $ctrl.resetButton }}
                            </button>
                        </div>
                        <div class="col-sm-4 wrong-hxf" ng-show="loginerror">
                            Wrong Login/Password
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer panel-hxf-footer">
                <div class="text-center"><span class="glyphicon glyphicon-info-sign"></span><a href="https://github.com/aestheticsdata/SPAquizMongoAngularJS" target="_blank"> SPAquizMongoAngularJS</a></div>
            </div>
        </div>
    </div>
</div>