<!--<div class="row">-->
    <div class="col-md-6">
        <div class="question panel panel-success">
            <div class="panel-heading text-center">
                {{$ctrl.entries.question}}
            </div>

            <div class="panel-body">
                <div class="list-group list-group-hxf">
                    <ul ng-repeat="entry in $ctrl.entries.choices"
                        class="list-group-item choices">

                        <input id="{{entry}}"
                               type="radio"
                               name="answerRadio"
                               ng-checked="$index == $ctrl.checkedQuestion"
                               ng-click="$ctrl.radioHasChanged($index)" />
                        <label for="{{entry}}">
                            <span class="entry">{{entry}}</span>
                        </label>

                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->